body{
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    height: 100%;
    
}
.container{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    border: thin solid black;
    margin-top: 200px;
    
}
.display{
    font-size: xx-large;
    background-color: white;
}
p{
    margin: auto 20px auto auto;
}
.display, .row{
    display: flex;
    flex: 1;
}
button{
    flex: 1;
    font-size: xx-large;
}