body{
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    height: 100%;
    
}
.container{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    border: thin solid black;
    background-color: blue;
    padding: 20px;
    border-radius: 10px;
    
}
.display{
    font-size: xx-large;
    background-color: white;
    margin: 0 5px 15px;
    border-radius: 10px;
    background-color: rgb(125, 140, 115);
    padding: 0 10px;
    overflow: hidden;
}
p{
    margin: auto 20px auto auto;
}
.display, .row{
    display: flex;
    flex: 1;
}
button{
    flex: 1;
    font-size: xx-large;
    border-radius: 10px;
    margin: 5px;
    border: thin solid black;
    color: white;
}
.clear, .backspace, .operator, .equals{
    background-color: rgb(192, 0, 0);
    color: white;
}
.number, .decimal{
    background-color: white;
    color: black;
}